@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme inline {
  --color-gold-50: #fbf8f1;
  --color-gold-100: #f5eddb;
  --color-gold-200: #ead8b7;
  --color-gold-300: #dab986;
  --color-gold-400: #c99354;
  --color-gold-500: #c5a059;
  --color-gold-600: #a77d46;
  --color-gold-700: #8b653b;
  --color-gold-800: #715233;
  --color-gold-900: #5d442c;
  --color-gold-950: #342417;

  --color-luxury-charcoal: #1a1a1a;
  --color-luxury-cream: #fdfbf7;
  --color-luxury-oyster: #f5f5f5;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: #fdfbf7;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fdfbf7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .glass {
  background: rgba(26, 26, 26, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
}